<div class="jumbotron">
  <h2>Register</h2>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="passwordConfirm">Confirm password</label>
    <input type="password" id="passwordConfirm" class="form-control" placeholder="Password confirm">
  </div>
  <button class="btn btn-primary">Register</button>
</div>

<div class="row marketing">

</div>
